<div class="head">
  <div class="title">
    <h3>{{ header() }}</h3>
  </div>

  <div class="menu">
    <mat-list>
      <mat-list-item>
        <a>
          <img src="../../../../assets/head/language.svg" alt="" />
        </a>
      </mat-list-item>
      <mat-list-item>
        <a>
          <img src="../../../../assets/head/settings.svg" alt="" />
        </a>
      </mat-list-item>
      <mat-list-item>
        <a>
          <img src="../../../../assets/head/notification.svg" alt="" />
        </a>
      </mat-list-item>
      <mat-list-item>
        <span>{{ username }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
